<% include('../layouts/header.ejs') %>

  <title>Edit User</title>
  <link rel="stylesheet" href="/stylesheet/style.css">

  <div class="form-container">
    <h1>Edit User</h1>
    <form action="" method="post">
      <div class="form-group">
        <input type="text" name="fname" placeholder="Edit First Name" pattern="[A-Za-z]+" value="<%= user.firstname %>" required>
      </div>
      <div class="form-group">
        <input type="text" name="lname" placeholder="Edit Last Name" pattern="[A-Za-z]+" value="<%= user.lastname %>" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Edit Email" value="<%= user.email %>" required>
      </div>
      <div class="form-group">
        <input type="text" name="mobile" placeholder="Edit Phone Number" pattern="[0-9]{10}" value="<%= user.mobile %>" required>
      </div>
      <input type="hidden" name="id" value="<%= user._id %>">
      <input type="submit" value="Update User" class="btn">
    </form>
    <p><a href="/admin/userdetials">Back</a></p>
  </div>



  <% include('../layouts/footer.ejs') %>